body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background:  no-repeat center center url('./assets/francken.png'),
               url('./assets/table-background.jpg');
  background-blend-mode: overlay;
}

:root {
  /* font-size: 30px; */

  width: 100vw;
  max-width: 100%;
  height: 100vh;

  --red-suit-color: #e44145;
  --black-suit-color: #252525;

  --card-background-color: #fafafa;
  --disabled-card-background-color: #e6e6e6;
}
