body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background:  no-repeat center center url('./assets/francken.png'),
               url('./assets/table-background.jpg');
  background-blend-mode: overlay;
}

:root {
  /* font-size: 30px; */

  width: 100vw;
  max-width: 100%;
  height: 100vh;

  --cardScale: 1.0;

  --red-suit-color: #e44145;
  --black-suit-color: #252525;

  --card-background-color: #fafafa;
  --disabled-card-background-color: #e6e6e6;

  --modal-z-index: 10;
  --score-z-index: 5;

  --card-stack-z-index: 0;
  --card-stack-hover-card-z-index: 10;

  --card-container-z-index: 0;
  --hand-card-z-index: 0;
  --hand-card-hover-z-index: 10;

  --active-border-color: #173249dd;
  --active-shadow-color: #eed18f5c;
  --active-shadow: 0px -30px 50px 2px var(--active-shadow-color);
}
